{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}}
    <nav class="m-footer-social">
      {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook" aria-hidden="true"></span>
        </a>
      {{/if}}
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter" aria-hidden="true"></span>
        </a>
      {{/if}}
      {{!-- Added by The Kermudgeon to override RSS feed --}}
      {{!--
      <a href="{{@site.url}}/rss" aria-label="RSS">
        <span class="icon-rss" aria-hidden="true"></span>
      </a> --}}
    </nav>
    <p class="m-footer-copyright">
      {{!-- <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Published with"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span> --}}
      {{!-- Added by The Kermudgeon to override default copyright notice --}}
      <span>&copy; 1978 – {{date format="YYYY"}} various authors</a> • <a href="https://thekermudgeon.com/copyright-notice" target="_blank" rel="noopener">Copyright Notice</a> • <a href="https://thekermudgeon.com/colophon/" target="_blank" rel="noopener">Colophon</a></span>
    </p>
    {{!-- Added by The Kermudgeon to override default JS copyright notice --}}
    {{!-- <p class="m-footer-copyright jslicense">
      <a href="{{asset "html/javascript.html"}}" rel="jslicense">{{t "JavaScript license information"}}</a>
    </p> --}}
  </div>
</footer>
